<div class="player-panel">
    <div class="header">Cards In-Hand</div>

    <app-player-panel-card-stack
        [cards]="getCardsInHand()"
        (cardOpen)="onCardOpen($event)"
    ></app-player-panel-card-stack>

    <div class="header">Cards In-Game</div>
    <div class="header">Equipment</div>



    <!-- <div>
        <div class="card-thumbs-wrapper">
            <app-player-panel-card-stack
                *ngFor="let cardStack of getHands()"
                [name]="cardStack.name"
                [cards]="cardStack.cards"
                [isHiddenStack]="cardStack.isHiddenStack"
                (cardOpen)="onCardOpen($event)"
            ></app-player-panel-card-stack>
        </div>
    </div> -->
</div>
