<!-- ToDo: move to separate component "sign-in form" -->
<div class="form" *ngIf="!cookiesAreSet()">
    <p>Enter your name please:</p>
    <input type="text" [(ngModel)]="name" required />
    <button (click)="register()">Confirm</button>
</div>

<!-- Game client -->
<div class="game-client" *ngIf="cookiesAreSet()">
    <div class="player-panels-wrapper">
        <!-- Players -->
        <app-player-panel
            *ngFor="let player of enemies"
            [player]="player"
            (cardOpen)="onCardOpen($event)"
        ></app-player-panel>
    </div>

    <!-- Card details panel -->
    <app-card-details
        [card]="selectedCard"
        (action)="onCardDetailsAction($event)"
        (close)="selectedCard = null"
    ></app-card-details>

    <!-- Game Table -->
    <app-table></app-table>
</div>
