<!-- ToDo: move to separate component "sign-in form" -->
<div class="form" *ngIf="!table">
    <h4>There is no table in database.</h4>
    <p>Try to create a random one.</p>
    <button (click)="addNewTable()">Add new table</button>
</div>

<div class="card-actions" *ngIf="cardActions" (click)="CancelAction()">
    <a
        class="card-action"
        *ngFor="let actionName of cardActions"
        (click)="doCardAction(actionName); $event.stopPropagation()"
        >{{ actionName }}</a
    >
</div>

<div *ngIf="table">
    <!-- ToDo: move to separate component "sign-in form" -->

    <div class="config-panel">
        <div class="flex-container">
            <div class="container">
                <div class="text-label">Current turn:</div>
                <div
                    class="user-name"
                    *ngFor="let player of table.players"
                    [ngClass]="player.id === table.currentTurn ? 'selected' : ''"
                >
                    {{ player.name }}
                </div>

                <div class="text-label">Your name:</div>
                <div class="user-name" [ngClass]="player.id === table.currentTurn ? 'selected' : ''">
                    {{ player.name }}
                </div>
                <div class="text-label">Your level:</div>
                <div class="user-name">
                    {{ player.level }}
                </div>
                <div class="text-label">Your gender:</div>
                <div class="user-name">
                    {{ player.gender | uppercase }}
                </div>
                <div class="text-label">Table key:</div>
                <div class="user-name">
                    {{ tableKey }}
                </div>
            </div>
        </div>
    </div>

    <!-- Game client -->
    <div class="game-client">
        <app-player-panel [player]="player" [cards]="getCards(player)" (cardOpen)="onCardOpen($event)" *ngFor="let p of table.players"></app-player-panel>

        <div class="player-panels-wrapper"></div>

        <div class="table" *ngIf="yourTurn()">
            <button class="deck-button" (click)="openTheDoor()">
                Doors
                <div class="small-font" *ngFor="let card of doors()">{{ card.cardName }}</div>
            </button>
            <button class="deck-button">Treasures</button>
        </div>
    </div>
</div>
