/* You can add global styles to this file, and also import other style files */

html,
body {
    position: relative;
}

body {
    margin: 0;
    padding: 10% 10%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a,
button {
    cursor: pointer;
    outline: none;
}

.center-align {
    text-align: center;
}

.player-panels-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    align-content: stretch;

    .player-panel {
        padding: 20px 5px;
        min-width: 200pt;
        background: #ededed;
        margin-right: 10px;
        border-radius: 6px;
        &.your-panel {
            background: #dce2ff;
        }
        .player-name {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            text-transform: lowercase;
            font-stretch: condensed;
        }
        .card-thumbs-wrapper {
            margin-top: 12px;
            .group-name {
                color: #87888d;
                padding: 3px 12px;
                font-size: 16px;
                transform: scale(.75, .8);
            }
        }
    }
}

.table {
    .deck-button {
        border-radius: 6px;
        width: 120pt;
        height: 160pt;
        margin-right: 30pt;
        background-image: linear-gradient(#ffcccc -10%, #ffefde 20%, #fffeee, #ffefde 80%, #ffcccc 110%);
        font-size: 1.5em;
        font-weight: 600;
    }
}

.card {
    display: inline-block;
    position: relative;
    .card-thumb {
        border: thin solid #dadde4;
        color: #dadde4;
        background: rgb(61, 61, 61);
        font-size: 14px;
        padding: 3px 6px;
        display: inline-block;
        border-radius: 6px;
        &:hover {
            background: #7194f7;
            color: #061233;
            border: thin solid #061233;
        }
        &:not(:last-child) {
            margin-right: 3px;
        }
    }
    .card-actions {
        position: absolute;
        left: 0;
        z-index: 1;
        .action-button {
            width: 80px;
            height: 25px;
            font-weight: 600;
            text-transform: capitalize;
            font-size: 14px;
            color: #7194f7;
            background: white;
            border: thin solid #1c56f7;
            border-radius: 6px;
            &:hover {
                background: #1c56f7;
                color: white;
                box-shadow: 2px 2px 2px 2px #a1a2a7;
                border: thin solid #061233;
            }
            box-shadow: 2px 2px 2px 2px #dadde4;
            margin: 3px 0;
            display: block;
        }
    }
}